@font-face {
    font-weight: bolder;
    font-family: Lora;
    src: url(fonts/Lora/Lora-MediumItalic.ttf);
}

body{
    background-repeat: repeat;
    background-color: rgba(220, 242, 153, 0.926);
    font-family: Lora;
    padding-left: 50px;
}
img {
    --s: 10px; /* control the size */
    padding: var(--s);
    border: calc(2*var(--s)) solid #0000;
    outline: 1px solid rgb(0, 0, 0);
    outline-offset: calc(-1*var(--s));
    background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
  }
  .return-button{
    display: inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #000000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    }
    h1, h2{
        text-align: center;
        font-size: 60px;
        font-weight: bold;
        background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(193, 179, 26));
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }
    .list{
        border: 2px solid #000;
        border-radius: 20px;
    }
    .link{
        color: black;
        font-size: 30px;
    }
    .link-frame{
        border: 2px solid black;
        border-radius: 15px;
        margin-right: 27cm;
    }
  